<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="layout/default :: entete"></head>-->

<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/default :: entete}"></head>

<body>
<!--<div th:replace="layout/default :: menu"></div>-->
<div class="wrapper">
	<div th:replace="~{layout/default :: menu}"></div>
	<div class="content-page">
		<div class="content">

			<!-- Start Content-->
			<div class="container-fluid">

				<!-- start page title -->
				<div class="row">
					<div class="col-10">
						<div class="page-title-box">
							<h4 class="page-title">Location</h4>
						</div>
					</div>
				</div>
				<!-- end page title -->

				<div class="row">
					<div class="col-xl-10">
						<div class="card">
							<div class="card-body">

								<h4 class="header-title">Nouveau Location</h4>

								<ul class="nav nav-tabs nav-bordered mb-3">


								</ul>
								<!-- end nav-->
								<div class="tab-content">
									<div class="tab-pane show active" id="table-head-preview">
										<div class="mb-3">

											<div align="center">
												<form th:action="@{/location/saveLocation}" th:object="${location}"
													  method="POST">
													<table class="table" style="width: 60%">



														<tr>
															<th>Voiture: </th>
															<td>
																<select  th:field="*{voiture}" id="voiture" class="custom-select">
																	<option th:each="voit : ${voitures}"
																			th:value="${voit.id}"
																			th:text="${voit.numMat}">
																	</option>
																</select>
																	</td></tr>
														<tr>
															<th>Client: </th>
															<td>
																<select  th:field="*{client}" id="client" class="custom-select">
																	<option th:each="cli : ${clients}"
																			th:value="${cli.id}"
																			th:text="${cli.nom}">
																	</option>
																</select>
																	</td></tr>
														<tr>
															<th>Employe: </th>
															<td>
																<select  th:field="*{employe}" id="employe" class="custom-select">
																	<option th:each="emp : ${employes}"
																			th:value="${emp.id}"
																			th:text="${emp.nom}">
																	</option>
																</select>
																	</td></tr>


														<tr>
															<th>Date Location : </th>
															<td>
																<input type="date" th:field="*{dateLocation}"
																	   placeholder="dateLocation" class="form-control mb-1 col-4"  size="45" >	</td>
														</tr><tr>
															<th>Dure Location : </th>
															<td>
																<input type="text" th:field="*{dureLocation}"
																	   placeholder="dureLocation" class="form-control mb-1 col-4"  size="45" >	</td>
														</tr>

														<tr>

															<td>
																<input class="btn btn-info" type="submit" value="Enregistrer" />
															</td></tr>

													</table>
												</form>
											</div>
											<hr>

											<a th:href = "@{/location/}"> Back to Location List</a>

										</div>
										<!-- end preview-->
									</div>
									<!-- end card body-->

								</div>
								<!-- end tab-content-->



								<!-- end card -->
							</div>
							<!-- end col-->


						</div></div>
				</div>
			</div>
		</div>
	</div></div>
<!-- Vendor js -->
<script src="../assets/js/vendor.min.js"></script>

<!-- Code Highlight js -->
<script src="../assets/vendor/highlightjs/highlight.pack.min.js"></script>
<script src="../assets/vendor/clipboard/clipboard.min.js"></script>
<script src="../assets/js/hyper-syntax.js"></script>

<!-- App js -->
<script src="../assets/js/app.min.js"></script>
</body>
</html>